@import "tailwindcss";

@layer base {
  button:not([disabled]) {
    @apply cursor-pointer;
  }

  button {
    @apply px-4 py-2 rounded-md font-bold transition-colors;
  }

  button[data-size="large"] {
    @apply text-lg px-6 py-3;
  }

  button[data-color="primary"] {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }

  button[data-color="secondary"] {
    @apply bg-white text-gray-800 hover:bg-gray-100;
  }
}
